 .fps {
     position: absolute;
     background-color: black;
     border: 2px solid red;
     text-align: center;
     font-size: 16px;
     color: white;
     top: 15px;
     right: 10px;
     width: 60px;
     height: 20px;
 }